{{ .git_email_work }} ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMu2qGYtQq5JMn5dJb/JLqmQFP1xusXqvqcdwN9ZYMo7
{{ .git_email }} ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN2vQorzVyieL2o68zFPBh0PzlUziI06lu1c7oLHpOcr
